@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@100;200;300;400;500;600;800;900&display=swap);
body {
  font-family: "Titillium Web", sans-serif !important;
  background: #171717 !important;
  box-sizing: border-box !important;
  color: white !important;
}
body::-webkit-scrollbar {
  display: none;
}

.hero{
    background-image: url('../src/assets/heroBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.Footer{
  background: black !important;
}